html {background-color: #1d1d35}

.nav{
    background-color: #1d1d35;
    text-align: center;
}

.nav a{
    color: grey;
    text-align: center;
    padding: 0.5em;
    font-size: calc(1.5vw + 10px);
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover{
    background-color: #ec574a;
    color: #1d1d35;
}

.nav a.active{
    background-color: #ef3d2c;
    color: white;
}

#contact_me{
    color: white;
    font-family: sans-serif;
    margin-left: calc(4vw + 10px);
    margin-right: calc(4vw + 10px);
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(4vw + 10px);
}

.img{
    height: calc(10vw + 10px);
    padding: calc(3vw + 10px);
}

.img:hover{
    filter: brightness(0.8);
}

#smol{
    color: white;
    font-size: calc(0.7em + 10px);
    margin-top: calc(8vw + 10px);
    margin-left: calc(4vw + 10px)
}

::-webkit-scrollbar {
    width: calc(0.2vw + 5px);
}

::-webkit-scrollbar-track {
    border-radius: calc(1vw + 5px);
}
   
::-webkit-scrollbar-thumb {
    background: #ef3d2c; 
    border-radius: 10px;
    width: calc(0.2vw + 5px);
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ec574a; 
}

@media only screen and (max-width: 600px) {
    table{
        margin-left: auto;
        margin-right: auto;
        margin-top: calc(30vw + 10px);
        margin-bottom: calc(30vw + 10px);
    }

    #smol{
        color: white;
        font-size: calc(0.7em + 10px);
        margin-left: calc(4vw + 10px);
        margin-right: calc(2vw + 10px);
    }
}