html{background-color: #1d1d35}

.nav{
    background-color: #1d1d35;
    text-align: center;
}

.nav a{
    color: grey;
    text-align: center;
    padding: 0.5em;
    font-size: calc(1.5vw + 10px);
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover{
    background-color: #ec574a;
    color: #1d1d35;
}

.nav a.active{
    background-color: #ef3d2c;
    color: white;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

td{
    border: 1px solid white;
    border-radius: 5%;
}

#gravityrage{
    height: calc(20vw + 10px);
    border-radius: 5%;
}

.GraVityRagE{
    text-align: center;
    color: white;
    font-size: calc(1vw + 10px);
}

::-webkit-scrollbar {
    width: calc(0.2vw + 5px);
  }

  ::-webkit-scrollbar-track {
    border-radius: calc(1vw + 5px);
  }
   
  ::-webkit-scrollbar-thumb {
    background: #ef3d2c; 
    border-radius: 10px;
    width: calc(0.2vw + 5px);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ec574a; 
  }

@media only screen and (max-width: 600px) {}