html{background-color: #1d1d35}

.nav{
    background-color: #1d1d35;
    text-align: center;
}

.nav a{
    color: grey;
    text-align: center;
    padding: 0.5em;
    font-size: calc(1.5vw + 10px);
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover{
    background-color: #ec574a;
    color: #1d1d35;
}

.nav a.active{
    background-color: #ef3d2c;
    color: white;
}

/* #table1{
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(3vw + 10px);
    border-spacing: calc(2em + 10px);
}

#table2{
    margin-left: auto;
    margin-right: auto;
    border-spacing: calc(2em + 10px);
}

td{
    border: 1px solid white;
    border-radius: 5%;
} */

#flex{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: calc(2vw + 10px);
}

#row1{
    display: flex;
    margin: auto;
    margin-top: calc(4vw + 10px);
}

#row2{
    display: flex;
    margin: auto;
}

.project{
    width: fit-content;
    display: inline-block;
    margin: calc(0.5vw + 10px);
    border: 1px solid white;
    border-radius: 5%;
}

#gravityrage{
    height: calc(20vw + 10px);
    border-radius: 7%;
}

.desc{
    text-align: center;
    color: white;
    font-size: calc(1vw + 10px);
}

/* .GraVityRagE{
    text-align: center;
    color: white;
    font-size: calc(1vw + 10px);
} */

.img{
    height: calc(20vw + 10px);
    border-radius: 5%;
}

/* .PeerView{
    text-align: center;
    color: white;
    font-size: calc(1vw + 10px);
}

.CTFsite{
    text-align: center;
    color: white;
    font-size: calc(1vw + 10px);
}

.Unknown{
    text-align: center;
    color: white;
    font-size: calc(1vw + 10px);
} */

::-webkit-scrollbar {
    width: calc(0.2vw + 5px);
}

::-webkit-scrollbar-track {
    border-radius: calc(1vw + 5px);
}
   
::-webkit-scrollbar-thumb {
    background: #ef3d2c; 
    border-radius: 10px;
    width: calc(0.2vw + 5px);
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ec574a; 
}

@media only screen and (max-width: 600px) {
    /* #table1{
        margin-left: auto;
        margin-right: auto;
        margin-top: calc(30vw + 10px);
        border-spacing: calc(1vw + 10px);
    } */

    /* #row1{
        margin: auto;
        margin-top: 10%;
        margin-bottom: 1%;
        width: 90%;
    } */

    .project{
        width: fit-content;
        display: inline-block;
        margin: calc(1.5vw + 1px);
        border: 1px solid white;
        border-radius: 5%;
    } 

    .img{
        height: calc(24vw + 10px);
    }

    #gravityrage{
        height: calc(24vw + 10px);
        border-radius: 7%;
    }

    #flex{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: calc(20vw + 10px);
    }

    /* #row2{
        margin: auto;
        width: 59%;
    } */
}